<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/nav") %>
            <div class="row  justify-content-center">
                <div class="col-lg-8 col-md-10">

                    <h1 class="mt-5">
                        <%= blog.title %>
                    </h1>
                    <img src="<%= blog.image %>" class="img-fluid mt-4" alt="Responsive image">

                    <p class="text-justify mt-3">
                        <%= blog.snippet %>
                    </p>
                    <p class="text-justify mt-3">
                        <%= blog.body %>
                    </p>
                    <% if(blog.video) { %>
                        <h3>Video</h3>
                        <video controls>
                            <source src="<%= blog.video %>" >
                          </video>
                        <% }%>
                            <p class="time mt-3">
                                <strong> Created At : </strong>
                                <span><%=  createdAt %></span>
                            </p>
                            <button type="button" class="btn btn-danger" data-blog="<%= blog._id %>">Delete</button>
                </div>
                <%- include("../partials/footer") %>
            </div>
            </div>
    </body>
    <script>
        const button = document.querySelector(".btn-danger");

        button.addEventListener("click", (e) => {
            fetch(`/blog/${e.target.dataset.blog}`, {
                    method: "DELETE"
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((error) => console.log(error))
        })
    </script>

</html>