<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/nav_auth") %>
            <div class="row  justify-content-center">
                <div class="col-lg-10 col-md-10">

                    <h1 class="mt-5">
                        <%= blog.title %>
                    </h1>
                    <img src="<%= blog.image %>" class="img-fluid mt-4" alt="Responsive image">

                    <p class="text-justify mt-3">
                        <%= blog.snippet %>
                    </p>
                    <p class="text-justify mt-3" id="body-blog" dangerouslySetInnerHTML={{ __html: <%=blog.body %> }}>
                        <%- blog.body %>
                    </p>
                    <% if(blog.video) { %>
                        <h3>Video</h3>
                        <video controls>
                            <source src="<%= blog.video%>" >
                          </video>
                        <% }%>
                            <p class="time mt-3">
                                <strong> Created At : </strong>
                                <span><%=  createdAt %></span>
                            </p>

                            <button type="button" class="btn btn-danger" data-blog="<%= blog._id %>">Delete</button>
                            <div class="alert alert-danger mt-4" role="alert" id="show-error">
                                Somthing went wrong! (please retry)
                            </div>
                </div>
                <%- include("../partials/footer") %>
            </div>
            </div>
    </body>
    <script src="https://cdn.ckeditor.com/4.9.1/standard/ckeditor.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {

            const button = document.querySelector(".btn-danger");

            CKEDITOR.inline(document.getElementById("body-blog"));

            button.addEventListener("click", (e) => {
                fetch(`/blg/${e.target.dataset.blog}`, {
                        method: "DELETE"
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch((error) => {
                        document.querySelector("#show-error").style.display = "block";
                    })
            })

        })
    </script>

</html>